@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Texturina:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables Globales de estilo: */
:root {
/* Colores */
    --cafe: #41282c;
    --azul: #85c8f2;
    --naranja: #a63429;
    --beige: #f0c095;
    --negro: #000000;
    --blanco: #ffffff;

/* Fuentes */
        
    --fuente-titulos: 'Texturina', serif; /* "--fuente-titulos" Es la misma fuente para los títulos en general, los títulos de las alertas y los botones. */
    --fuente-textos: 'Roboto', sans-serif;

/* Tamaño/Peso de fuentes */
    --peso-titulos: 700;
    --peso-textos: 400;
    --peso-titulos-alertas: 500;
    --peso-textos-alertas: 400;
    --peso-botones: 700;
    --tamaño-titulos: 2.5rem;
    --tamaño-textos: 1.5rem;
    --tamaño-titulos-alertas: 2rem;
    --tamaño-textos-alertas: 1rem;
    --tamaño-botones: 1.5rem;
}
/* EJEMPLO de como usar las Variables Globales: */
    /* .titulo {
        font-family: var(--fuente-titulos);
        font-size: var(--tamaño-titulos);
        font-weight: var(--peso-titulos);
        color: var(--naranja);
    } */

body {
    background: var(--cafe);
    justify-content: center;
}

#ahogadosEnCodigo {
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/BackDesk.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.container-gif {
    overflow: hidden;
}

.gif-caida {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 47%;
    left: 47%;
}

.btn{
    width: 50px;
    height: 50px;
    background-color: bisque;
    border: 1px black solid;
    border-radius: 5px;
}

#btn-empujar{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}
#btn-siguiente{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}

.swal2-container.swal2-center>.swal2-popup {
    font-family: var(--fuente-titulos);
    font-weight: var(--peso-titulos-alertas);
    border-color: var(--negro);
    background: var(--beige);
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.swal2-styled.swal2-confirm{
    font-family: var(--fuente-titulos);
    background-color: var(--azul);
}

.body-main {
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/MainBackMobile.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

.container-btn-main {
    display: flex;
    margin: 0 auto;
    padding: 74vh 0 0 0;
    justify-content: center;
}

.btn-main {
    justify-content: center;
    font-family: var(--fuente-titulos);
    font-size: var(--tamaño-botones);
    font-weight: var(--peso-botones);
    padding: 1px 10px 8px 10px;
    border-radius: 100px;
    background-color: var(--naranja);
    color: var(--beige);
    border: 3px solid var(--cafe);
}

.btn-main > a {
    text-decoration: none;
    color: var(--beige);
}

.container-btn-regresar {
    top: 2vh;
    left: 2vh;
    display: flex;
    position: absolute;
    margin: 0 auto;
    padding: 0 0 0 0;
    justify-content: center;
}
.container-btn-siguiente {
    top: 90vh;
    left: 2vh;
    display: flex;
    position: absolute;
    margin: 0 auto;
    padding: 0 0 0 0;
    justify-content: center;
}

.container-btn-empujar {
    top: 42vh;
    left: 8vh;
    display: flex;
    position: absolute;
    margin: 0 auto;
    padding: 0 0 0 0;
    justify-content: center;
}

#home, #btn-siguiente-alma, #btn-empujar-alma {
    width: 100%;
    justify-content: center;
    font-family: var(--fuente-titulos);
    font-size: 19px;
    font-weight: var(--peso-botones);
    padding: 1px 10px 8px 10px;
    border-radius: 100px;
    background-color: var(--beige);
    border: 3px solid var(--naranja);
    color: var(--naranja);
}

#home {
    background-color: var(--naranja);
    color: var(--beige);
    border: 3px solid var(--cafe);
}

#home > a {
    text-decoration: none;
    color: var(--beige);
}

@media (min-width: 425px) {
    .body-main {
        background-image: url(/assets/img/MainBack.gif);
    }
    .container-btn-empujar {
        top: 42vh;
        left: 19vh;
    }
}

/* Media query (Tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container-btn-empujar {
        top: 42vh;
        left: 50vh;
    }
}
/* Media query (Desktop) */
@media (min-width: 1024px) and (max-width: 1440px) {
    .container-btn-empujar {
        top: 42vh;
        left: 72vh;
    }
}

/* stylos by Diza */
body{
    font-family: var(--fuente-titulos);
    background-color: var(--blanco);
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--azul)
}

a{
    text-decoration: none;
    color: var(--blanco);
    align-items: center;
}

.name{
    color: var(--naranja);
    text-shadow: 2px 1px 1px var(--negro);
    font-size: 20px;
}

.name-1{
    color: var(--beige);
}
.btn{
    height: 35px;
    width: 25%;
    background-color: var(--cafe);
    text-decoration: none;
    color: var(--blanco);
    border-radius: 30px;
    font-size: 20px;
}

#alma{
    width: 97%;
    border-radius: 30px;
    height: 30px;
}

.contenedor{
    height: 100%;
    width:75%;
    margin: 8%;
    padding: 5%;
    background-color: var(--beige);
    border-radius: 30px;
}

.botones-3{
    width: 100%;
    margin-top: 5%;
    border-radius: 30px;
}

.contenedor-2{
    background-color: var(--azul);
    border-radius: 30px;
    height: 100%;
    width: 75%;
    padding: 5%;
    margin: 8%;
}


#resultado{
    margin-right: 75%;
    margin-top: 0;
    color: var(--negro);
    font-size: 20px;
    font-family: var(--fuente-textos);
}

.container-1{
    font-size: 15px;
}

 /* responsive by Diza */
 
 /* tablet */
@media screen and (min-width: 765px) {
    .name{
        font-size: 30px;
    }

    .btn{
        width: 32%;
        height: 50px;
        font-size: 12px;
    }

    #alma{
        width: 99%;
        height: 42px;
    }

    .contenedor{
        width: 39%;
        margin: 0;
    }

    .contenedor-2{
        height: 100%;
        width: 39%;
        margin: 0;
    }

    .contenedores-juntos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5%;   
    }

    .container-1{
        font-size: 10px;
    }
}

 /* destock */
 @media screen and (min-width: 1024px) {
    .name{
     font-size: 32px;
    }
 
    .btn{
     height: 50px;
     width: 32%;
     font-size: 22px;
    }
 
    #alma{
     width: 97%;
     height: 30px;
    }
 
    .contenedor{
     height: 100%;
     width: 38%;
     margin: 0;
     }
 
     .contenedor-2{
         height: 100%;
         width: 38%;
         margin: 0;
     }
 
     .contenedores-juntos{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 5%;   
     }
 
     h1{
         font-size: 25px;
     }
 }
