@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Texturina:opsz,wght@12..72,100;12..72,200;12..72,300;12..72,400;12..72,500;12..72,600;12..72,700;12..72,800;12..72,900&display=swap');

:root {
/* Colores */
    --cafe: #41282c
    --azul: #85c8f2
    --naranja: #a63429
    --beige: #f0c095
/* Fuentes */
    --títulos: 'Texturina', serif;
    --textos: 'Roboto', sans-serif;
/* Tamaño/Peso de fuentes (No son definitivas, solo las puse temporalmente)*/
    --peso-titulo: 700;
    --peso-textos: 400;
    --tamaño-titulos: 2rem;
    --tamaño-textos: 1rem;
}

body {
    background: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#wheelOfDoom{
    display: block;
    background-color:  #40CFFF;
    border: 2px black solid;
    border-radius: 25px;
}

#btn-iniciar{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}


#btn-empujar{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}
#btn-siguiente{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}