@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Texturina:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables Globales de estilo: */
:root {
/* Colores */
    --cafe: #41282c;
    --azul: #85c8f2;
    --naranja: #a63429;
    --beige: #f0c095;
    --negro: #000000;
    --blanco: #ffffff;

/* Fuentes */
        
    --fuente-titulos: 'Texturina', serif; /* "--fuente-titulos" Es la misma fuente para los títulos en general, los títulos de las alertas y los botones. */
    --fuente-textos: 'Roboto', sans-serif;

/* Tamaño/Peso de fuentes */
    --peso-titulos: 700;
    --peso-textos: 400;
    --peso-titulos-alertas: 500;
    --peso-textos-alertas: 400;
    --peso-botones: 700;
    --tamaño-titulos: 2.5rem;
    --tamaño-textos: 1.5rem;
    --tamaño-titulos-alertas: 2rem;
    --tamaño-textos-alertas: 1rem;
    --tamaño-botones: 1.5rem;
}
/* EJEMPLO de como usar las Variables Globales: */
    /* .titulo {
        font-family: var(--fuente-titulos);
        font-size: var(--tamaño-titulos);
        font-weight: var(--peso-titulos);
        color: var(--naranja);
    } */

body {
    background: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#wheelOfDoom{
    display: block;
    background-color:  #40CFFF;
    border: 2px black solid;
    border-radius: 25px;
}

#btn-iniciar{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}


#btn-empujar{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}
#btn-siguiente{
    width: 50px;
    height: 50px;
    background-color: #1a472a;
    border: 1px white solid;
    color: white;
}

.swal2-container.swal2-center>.swal2-popup {
    font-family: var(--fuente-titulos);
    font-weight: var(--peso-titulos-alertas);
    border-color: var(--negro);
    background: var(--beige);
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}
.swal2-styled.swal2-confirm{
    font-family: var(--fuente-titulos);
    background-color: var(--azul);
}